/* >> Color Platte */
$up-color: #e5414f;
$down-color: #63da39;
/* << Color Platte */
$success-color: #22baa0;
$info-color: #12afcb;
$warning-color: #eebb33;
$error-color: #e5414f;
$danger-color: #f25656;
$main-background-color: #f5f6fa;

$primary-color: #4da1ff;

$panel-background-color: #fff;

$color-green: #7ed321;
$color-yellow: #eebb33;
$color-red: #F44336;
$color-blue: #4da1ff;
$color-line: #e9eff4;
$color-label: #323c47;
$color-input: #666;
$color-input-border: #d0d8df;

$radius: 5px;
 

